* { box-sizing: border-box }
:root {
    --pri: #ecf4b6;
    --sec: #a8ace1;
    --acc: #eeeeee;
    --for:#121212;
    --six: #f0f0f0;
    --sev: #9d9b9b;
    --space-normal: 10px;
    --space-vertical: 5px;
}
@font-face {
  font-family: 'babel';
  src: url('fonts/BabelSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'babel';
  src: url('fonts/BabelSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'babel';
  src: url('fonts/BabelSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'babel';
  src: url('fonts/BabelSans-BoldOblique.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
/* Basic setting */
body {
    color: var(--acc);
    background-color: var(--six);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'babel';
}

hr {
    width: 100%;
    border: 0.5px solid var(--sec);
    padding: 0;
    margin: 0;
}
button {
    all: unset;
    background-color: var(--for);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28pt;
    line-height: 30pt;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 96pt;
    line-height: 80pt;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

p {
    font-size: 21pt;
    line-height: 23pt;
    padding: 0;
    margin: 0;
}

a {
    color: var(--acc);
    text-decoration: underline;
    font-size: 11pt;
    padding: 0;
    margin: 0;
    font-style: italic;
}
a:hover {
    color: var(--for);
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
	image-rendering: pixelated;
}

/* Home Page */
/* Navigation */
.click {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin: 0;
    padding: var(--space-vertical) var(--space-normal);
    background-color: var(--for);
    border-bottom: 1px solid var(--sec);
}
.click:hover {
    background-color: var(--pri);
}
.me {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 35px;
    margin: 0;
    padding: var(--space-vertical) var(--space-normal);
    color: var(--for);
    opacity: 0.1;
}
.me:hover {
    opacity: 1;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 100;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.nav-item {
    width: 100%;
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 11pt;
    padding: var(--space-vertical) var(--space-normal);
    border-bottom: 1px solid var(--sec);
}
.title {
    color: var(--sev);
}
.trig {
    width: 100%;
    color: var(--sev);
}
.nav-block:hover .title {
    color: var(--sec);
}
.nav-block:hover .trig {
    color: var(--sec);
}

/* Panel */
.panel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}
.panel-about {
  background-color: var(--for);
  padding: var(--space-vertical) var(--space-normal);
  border-bottom: 1px solid var(--sec);
}
#opening {
    background-color: var(--pri);
}

/* Menu Panel */
#list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--for);
}
#list .filter-item {
    text-align: left;
    padding: var(--space-vertical) var(--space-normal);
    transition: background-color 0.15s ease;
    font-size: 28pt;
    font-weight: 400;
    line-height: 30pt;
}
#list .filter-item:hover {
    background-color: var(--pri);
}

/* About Panel */
#intro {
    margin: 0;
    position: relative;
    justify-content: left;
    padding: 0;
    color: var(--for);
}
#opening p {
    margin: 0;
    padding: var(--space-vertical) var(--space-normal);
    font-size: 18pt;
    line-height: 22pt;
}
#highlight {
    color: var(--sev);
    font-weight: bold;
    text-transform: capitalize;
}
#highlight:hover {
    font-style: italic;
}
#light {
    color: var(--pri);
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 400;
    background-color: var(--sev);
    padding: 0 5pt;
}
#intro a {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

#name {
    color: var(--for);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;justify-content: space-between;
}
#name p {
    padding: 3px;
}
#name h1 {
    padding: var(--space-normal) 0;
}

#contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--space-vertical) 15px;
    border-top: 1px solid var(--sec);
    background-color: var(--for);
}
#contact a {
    color: var(--sev);
}
#contact a:hover {
    color: var(--sec);
}

/* grid */
.work-list.grid-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid-view .work {
    display: flex;
    flex-direction: column;
    background-color: var(--for);
    color: var(--acc);
    text-decoration: none;
}
.grid-view .desc {
    padding: var(--space-vertical) var(--space-normal);
    border-top: 1px solid var(--sec);
    text-transform: uppercase;
    color:var(--sev);
}
.grid-view .work img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.grid-view .work:hover img {
    opacity: 0.5;
}
.grid-view .work:hover .desc {
    background-color: var(--pri);
    color:var(--for);
}

/* list */
.work-list.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .work {
    position: relative;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1.5fr;
    align-items: center;
    padding: var(--space-vertical) 15px;
    border-bottom: 1px solid var(--sec);
    background-color: var(--for);
    color: var(--);
    text-decoration: none;
}
.list-view .work:hover {
    background-color: var(--pri);
    color: var(--for);
}

.list-view .meta {
    display: contents;
}

.list-view .meta h3,
.list-view .meta p {
    margin: 0;
}

.list-view .hover-image {
    position: absolute;
    top: 200%;
    left: 50%;
    width: 40%;
    opacity: 0;
    z-index: 200;
    border: 1px solid var(--sec);
    pointer-events: none;
    transform: translateY(-50%);
}

.list-view .hover-image img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.list-view .work:hover .hover-image {
    opacity: 1;
}

.filter-item {
    all: unset;
    color: var(--sev);
    font-size: 11pt;
    line-height: 1.2;
}
.filter-item:hover {
    color: var(--for);
}
.filter-item.active {
    color: var(--sec);
}

.view-switch {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--space-vertical);
    background-color: transparent;
}

.view-switch button {
    all: unset;
    color: var(--sev);
    font-size: 28pt;
    font-weight: 400;
    line-height: 30pt;
    background-color: var(--for);
}
#list-view {
    padding: 0 var(--space-normal);
}

.view-switch button:hover,
.view-switch button.active {
    color: var(--for);
    background-color: var(--pri);
}

@media screen and (max-width: 1080px) {
    .work-list.grid-view {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 720px) {
    .list-view .work {
        grid-template-columns: 1.05fr 0.5fr 0.5fr;
    }
    .panel-about {
        grid-template-columns: 1fr;
        padding: var(--space-normal) var(--space-vertical);
    }
    #name {
        display: none;
    }
    .panel {
        grid-template-columns: 1fr;
    }
    #list {
        padding: var(--space-vertical) 0;
    }
}
@media screen and (max-width: 480px){
    p {
        font-size: 14pt;
        font-weight: 400;
        line-height: 17pt;
    }
    h1 {
        font-size: 24pt;
        font-weight: 400;
        line-height: 28pt;
        color: var(--acc);
    }
    h3 {
        font-weight: 600;
    }
    .me, .click {
        flex-direction: column;
        background-color: var(--pri);
    }
    #list .filter-item {
        font-size: 21pt;
        font-weight: 400;
        line-height: 19pt;
    }
    .work-list.grid-view {
        grid-template-columns: 1fr;
    }
    .grid-view .desc {
        text-align: center;
        background-color: var(--sev);
        color: var(--for);
    }
    .work img {
        padding: 0 15px;
    }
    .work img:hover {
        opacity: 1;
    }
    .list-view .hover-image {
        display: none;
    }
}