* { box-sizing: border-box }

body {
    color: rgb(255, 131, 152);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    width: 100%;
    position: relative;
    font-weight: 100;
    font-size: 13vw;
    margin-top: 5%;
    transition: 1s;
}
nav {
    display: flex;
    gap: 2rem;
    position: sticky;
    font-size: 2vw;
    font-weight: 500;
    top: 0.5vh;
}
nav div {
    transition: 0.5s;
}
nav div:hover {
    color: #ffd7de;
    font-weight: 700;
}

article {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: right;
}

article p {
    width: 50%;
    font-size: 1em;
    font-weight: 400;
    margin-right: 5%;
    transition: 1s;
}
article p:hover {
    width: 80%;
    color: #ffd7de;
    font-size: 1.5em;
}


img {
	image-rendering: pixelated;
    border: 0.5px solid black;
}

/* Container  */

.Container {
    width: 95%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    padding: 2rem;
    margin: 0 auto;
}

/* cover  */

.cover {
	border-radius: 5px;
	width: 45vw;
    font-weight: 100;
    font-size: 2vw;
}

.cover img {
	width: 100%;
}

.cover p {
	margin-top: 1rem;
	justify-self: flex-end;
}