:root { --ink: #111; }

body { 
  font-family: "Satoshi-Variable", sans-serif; margin:0; text-align:center;cursor: crosshair; background-color: rgb(229, 244, 176);
}

.site-header {
  position: fixed;
  bottom: 7vh;
  left: 0; right: 0;
  z-index: 1000;
  background: transparent;
}
.site-header .container {
  display: flex;
  line-height: 1rem;
  flex-direction: column;
  align-items: center;
}

a {
  font-family: "Satoshi-Variable", sans-serif;
  color: var(--ink);
  text-decoration: none;
}
a:hover {
  cursor: cell;
}

/* Base */
.nav {
font-family: "Satoshi-Variable", sans-serif;
display: flex;
font-weight: 600;
justify-content: center;
font-size: 1.2rem;
border: 1px solid #4b8e96;
border-radius: 999px;
background-color: #d5d1fc;
}
.nav a {
border-radius: 999px;
padding: 0.5rem;
transition: transform 0.2s ease, color 0.2s ease;
}
.nav a:hover {
background-color: #d5d1fc;
transform: scale(1.1);
}

.lead {
  width: 100%;
  height: min-content;
  margin: 0.5rem 1rem;
  text-align: left;
  font-family: "Array-Regular";
  line-height: 3rem;
  font-size: 3.5rem;
  font-weight: 200;
  color:#111; 
}

#chatroom {
  position: relative;
  height: 60vh;
  max-width: 97%;
  margin: 1rem auto;
  border-radius: 999px;
  background: #958dd9;
  overflow: hidden;
}

#chat {
  display: flex;
  gap: .5rem;
  justify-content: right;
  align-items: flex-start;
  margin: 0 1rem;
}
#name-input, #message-input, #chat-send {
  border: 1px solid #111; border-radius: 1px; padding: .6rem .75rem;
}
#message-input { min-height: 90px; resize: vertical; width: 80%;}
#chat-send { background:#f989e4; color:#fff;cursor:pointer; width: 10vw; font-family: "Array-Regular"; font-weight: 100;}
#chat-list {
  text-align: left;
  color: #f23cd1;
}

.note {
  position: absolute;
  max-width: 280px;
  padding: .6rem .75rem;
  background:#fff;
  border:1px solid #e5e5e7;
  border-radius: 1px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
  font-size: .95rem;
}
.note strong { display:block; margin-bottom:.25rem; color:#111; }
